/*
 * @name Nameplates-Memberlist.css
 * @description Better visible Nameplates in Server & Dm list.
 *
 * @author Love_Axolotl
 * @authorId 751063943065370644
 *
 * @version 0.0.1
 * @source https://github.com/LoveAxolotl/Discord/tree/main/CSS-Snippets/Nameplates-Memberlist.css
 *
 * @website https://github.com/LoveAxolotl/Discord
 *
 * Some backgroundstyles can have different posters/src's (11 styles for 74 Nameplates).
*/

:root {
    --opacity-left: .2;  /* Default: 0.08 */
    --opacity-right: .5; /* Default: 0.2 */
}

/* Remove mask from Nameplates in memberlist */
.videoContainer__4bbc6[style^="mask-image"] {
  mask-image: none !important;
}

/* Nameplates visibility - 11 different styles - 74 diffferent nameplates */
.container__4bbc6[style="background: linear-gradient(90deg, transparent 0%, rgba(1, 49, 194, 0.08) 20%, rgba(1, 49, 194, 0.08) 50%, rgba(1, 49, 194, 0.2) 100%);"] {
    background: linear-gradient(90deg, transparent 0%, rgba(1,49,194,var(--opacity-left)) 20%, rgba(1,49,194,var(--opacity-left)) 50%, rgba(1,49,194,var(--opacity-right)) 100%) !important;
}

.container__4bbc6[style="background: linear-gradient(90deg, transparent 0%, rgba(220, 62, 151, 0.08) 20%, rgba(220, 62, 151, 0.08) 50%, rgba(220, 62, 151, 0.2) 100%);"] {
    background: linear-gradient(90deg, transparent 0%, rgba(220,62,151,var(--opacity-left)) 20%, rgba(220,62,151,var(--opacity-left)) 50%, rgba(220,62,151,var(--opacity-right)) 100%) !important;
}

.container__4bbc6[style="background: linear-gradient(90deg, transparent 0%, rgba(115, 11, 200, 0.08) 20%, rgba(115, 11, 200, 0.08) 50%, rgba(115, 11, 200, 0.2) 100%);"] {
    background: linear-gradient(90deg, transparent 0%, rgba(115,11,200,var(--opacity-left)) 20%, rgba(115,11,200,var(--opacity-left)) 50%, rgba(115,11,200,var(--opacity-right)) 100%) !important;
}

.container__4bbc6[style="background: linear-gradient(90deg, transparent 0%, rgba(8, 100, 96, 0.08) 20%, rgba(8, 100, 96, 0.08) 50%, rgba(8, 100, 96, 0.2) 100%);"] {
    background: linear-gradient(90deg, transparent 0%, rgba(8, 100, 96, var(--opacity-left)) 20%, rgba(8,100,96,var(--opacity-left)) 50%, rgba(8, 100, 96, var(--opacity-right)) 100%) !important;
}

.container__4bbc6[style="background: linear-gradient(90deg, transparent 0%, rgba(0, 128, 183, 0.08) 20%, rgba(0, 128, 183, 0.08) 50%, rgba(0, 128, 183, 0.2) 100%);"] {
    background: linear-gradient(90deg, transparent 0%, rgba(0, 128, 183, var(--opacity-left)) 20%, rgba(0,128,128,var(--opacity-left)) 50%, rgba(0, 128, 183, var(--opacity-right)) 100%) !important;
}

.container__4bbc6[style="background: linear-gradient(90deg, transparent 0%, rgba(255, 255, 255, 0.08) 20%, rgba(255, 255, 255, 0.08) 50%, rgba(255, 255, 255, 0.2) 100%);"] {
    background: linear-gradient(90deg, transparent 0%, rgba(255, 255, 255, var(--opacity-left)) 20%, rgba(255,255,255,var(--opacity-left)) 50%, rgba(255, 255, 255, var(--opacity-right)) 100%) !important;
}

.container__4bbc6[style="background: linear-gradient(90deg, transparent 0%, rgba(144, 0, 7, 0.08) 20%, rgba(144, 0, 7, 0.08) 50%, rgba(144, 0, 7, 0.2) 100%);"] {
    background: linear-gradient(90deg, transparent 0%, rgba(144,0,7,var(--opacity-left)) 20%, rgba(144,0,7,var(--opacity-left)) 50%, rgba(144,0,7,var(--opacity-right)) 100%) !important;
}

.container__4bbc6[style="background: linear-gradient(90deg, transparent 0%, rgba(137, 58, 153, 0.08) 20%, rgba(137, 58, 153, 0.08) 50%, rgba(137, 58, 153, 0.2) 100%);"] {
    background: linear-gradient(90deg, transparent 0%, rgba(137,58,153,var(--opacity-left)) 20%, rgba(137,58,153,var(--opacity-left)) 50%, rgba(137,58,153,var(--opacity-right)) 100%) !important;
}

.container__4bbc6[style="background: linear-gradient(90deg, transparent 0%, rgba(45, 84, 1, 0.08) 20%, rgba(45, 84, 1, 0.08) 50%, rgba(45, 84, 1, 0.2) 100%);"] {
    background: linear-gradient(90deg, transparent 0%, rgba(45,84,1,var(--opacity-left)) 20%, rgba(45,84,1,var(--opacity-left)) 50%, rgba(45,84,1,var(--opacity-right)) 100%) !important;
}

.container__4bbc6[style="background: linear-gradient(90deg, transparent 0%,  rgba(246, 205, 18, 0.08) 20%, rgba(246, 205, 18, 0.08) 50%, rgba(246, 205, 18, 0.2) 100%);"] {
    background: linear-gradient(90deg, transparent 0%, rgba(246,205,18,var(--opacity-left)) 20%, rgba(246,205,18,var(--opacity-left)) 50%, rgba(246,205,18,var(--opacity-right)) 100%) !important;
}

.container__4bbc6[style="background: linear-gradient(90deg, transparent 0%, rgba(4, 123, 32, 0.08) 20%, rgba(4, 132, 32, 0.08) 50%, rgba(4, 123, 32, 0.2) 100%);"] {
    background: linear-gradient(90deg, transparent 0%, rgba(4,123,32,var(--opacity-left)) 20%, rgba(4,123,32,var(--opacity-left)) 50%, rgba(4,123,32,var(--opacity-right)) 100%) !important;
}
